.imgCenter {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 4px;
    margin-top: 5.2px;
    width: 48px;
    height: 48px;
}

#browser.color-behind-tabs-on .tab-position .tab.active.active {
    background-color: #7b7b7b;
    color: #FFFFFF;
}

:not(.ui-transparent-tabs).transparent-tabbar:not(.acc-dark.bg-dark.color-accent-from-page.color-behind-tabs-on) .tab-position .tab {
    background-color: #1c1c1c;
}